/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/
p {
    font-size: 13px;
    line-height: 22.4px;
    color: #eeeeee;
}

h1 {
    font-size: 60px;
    color: #ffffff;
}

h2 {
    font-size: 40px;
    color: #ffffff;
}

h3 {
    font-size: 28px;
    color: #ffffff;
    font-weight: 300;
}

h4 {
    font-size: 22px;
    color: #2d3033;
    font-weight: 400;
}

h5 {
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
}

.btn {
    background-color: #3bc492;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
}

.btn:hover, .btn:focus {
    background-color: #3d3d3d;
    color: #fff;
}

.btn-large {
    padding: 15px 80px;
}

/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
a {
    color: #e84545;
}

a:hover, a:focus {
    text-decoration: none;
    -moz-transition: background-color, color, 0.3s;
    -o-transition: background-color, color, 0.3s;
    -webkit-transition: background-color, color, 0.3s;
    transition: background-color, color, 0.3s;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    color: #6c7279;
}

ul, ol {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.section {
    padding: 100px 0;
}

.no-padding {
    padding: 0;
}

.no-gutter [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.space {
    margin-top: 60px;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------
	Header
-------------------------------------------------------------------------------*/
#header {
    width: 100%;
    z-index: 999;
}

#header .header-content {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
}

#header h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#header.fixed {
    background-color: #fff;
}

#header.fixed a {
    color: #000;
}

#header.fixed .header-content {
    border-bottom: 0;
    padding: 25px 0;
}

#header.fixed .nav-toggle {
    top: 18px;
    color: #000;
}

/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/

.banner {
    background-image: url(../images/banner.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

.banner-text {
    padding-top: 10%;
}

.banner-text h1 {
    color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-text p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 80px;
}
